@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


@import 'partials/utils';


$corporateColor: tomato;

* {
    border: 1px solid $corporateColor;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}


@mixin menu_no_bullets {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin full_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}





// Layout
.gmail {
    display: grid;
    grid-template-columns: minmax(200px, 250px) minmax(300px, 400px) minmax(500px, 1fr);
    grid-template-rows: auto auto 1fr;
    height: 100vh;

    .brand {}

    .search {}

    .navigation {}

    .new_mail_cta {}

    .mailbox {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .tabs {}

    .tab_content {
        grid-area: 3 / 2 / span 1 / span 1;
    }

    .content {
        grid-area: 2 / 3 / span 2 / span 1;
    }

    @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(3, 1fr);

        .new_mail_cta {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
        }

        .mailbox {
            grid-area: 2 / 1 / span 2 / span 1;
            background-color: white;
            z-index: 2;
            transform: translateX(-100%);
            transition: transform 550ms ease;

            &.opened {
                transform: translateY(0%);
            }
        }

        .tabs {
            grid-area: 2 / 1 / span 1 / span 1;
        }

        .tab_content {
            grid-area: 3 / 1 / span 2 / span 1;
        }

        .content {
            grid-area: 2 / 2 / span 2 / span 2;
        }
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: auto 1fr;
        overflow: hidden;

        .search {
            grid-area: 2 / 1 / span 1 / span 2;
            visibility: hidden;
            opacity: 0;
            background: white;
            z-index: 2;
            transition: opacity 550ms ease, visibility 550ms ease;

            &.opened {
                visibility: visible;
                opacity: 1;
            }
        }

        .navigation {
            grid-area: 1 / 2 / span 1 / span 1;
        }

        .tabs {
            grid-area: 2 / 1 / span 1 / span 2;
        }

        .tab_content {
            grid-area: 3 / 1 / span 1 / span 2;
            overflow: auto;
        }

        .content {
            grid-area: 3 / 1 / span 1 / span 2;
            background-color: white;
            z-index: 2;
            transform: translateY(100%);
            transition: transform 550ms ease;

            &.opened {
                transform: translateY(0%);
            }
        }
    }
}







.brand {
    padding: 0.5rem 1rem;
    display: flex;

    .brand_logo {
        display: flex;

        svg {
            width: 140px;

            .mail {}

            .name {
                path {}
            }
        }
    }
}

.search {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    .search_input {
        display: flex;
        align-items: center;
        flex-basis: 100%;

        .fa {}

        input {
            flex-basis: 100%;
            margin: 0 1rem;
        }
    }

    .search_menu {
        position: relative;

        .search_menu_toggle {
            .fa {}
        }

        .search_menu {
            position: absolute;
            top: calc(100% + .25rem);
            right: 0;
            display: none;
            background: white;

            .search_menu_items {
                @include menu_no_bullets;
                width: 200px;

                .search_menu_item {
                    a {}
                }
            }

            &.opened {
                display: block;
            }
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 1rem;

    .navigation_items {
        @include menu_no_bullets();
        display: flex;
        align-items: center;

        .navigation_item {
            margin-left: 1rem;

            a {
                .fa {}
            }
        }
    }

    .navigation_user {
        margin-left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            @include full_image;
        }
    }
}

.new_mail_cta {
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: .5rem 2rem;
        border-radius: 999999px;
        display: flex;
        align-items: center;

        .label {
            margin-right: .5rem;
        }

        .icon {}
    }
}

.mailbox {
    .mailbox_section {}
}


.menu_mailbox_main_items {
    @include menu_no_bullets();
    padding: 1.5rem 0;

    .menu_mailbox_main_item {
        display: flex;
        align-items: center;
        padding: .25rem 1rem .25rem 2rem;
        width: 80%;
        margin-bottom: .5rem;
        border-radius: 0 1rem 1rem 0;

        &:last-child {
            margin: 0;
        }

        .icon {
            .fa {}
        }

        .label {
            flex-basis: 100%;
            margin: 0 1rem;
        }

        .amount {
            display: none;
        }

        &.show_number {
            .amount {
                display: block;
            }
        }
        &.active {
            background: pink;
            font-weight: bold;
        }

        @media screen and (max-width: 1080px) {
            background: pink;
            padding: .5rem;
        }
    }
}


.tabs {
    display: flex;

    .tab {
        flex-basis: 100%;
    }
}

.tab_content {}

.message {}

.content {}