@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


@import 'partials/typo';


@import 'partials/utils';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/mailbox';

body {
    background-color: #ddd;
}

$corporateColor: tomato;

* {
    // border: 1px solid $corporateColor;
}




.new_mail_cta {
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: .5rem 2rem;
        border-radius: 999999px;
        display: flex;
        align-items: center;

        .label {
            margin-right: .5rem;
        }

        .icon {}
    }
}


.tabs {
    display: flex;

    .tab {
        flex-basis: 100%;
    }
}

.tab_content {}

.message {}

.content {}