@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


@import 'partials/utils';
@import 'partials/layout';


$corporateColor: tomato;

* {
    // border: 1px solid $corporateColor;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}







.brand {
    padding: 0.5rem 1rem;
    display: flex;

    .brand_logo {
        display: flex;

        svg {
            width: 140px;

            .mail {}

            .name {
                path {}
            }
        }
    }
}

.search {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    .search_input {
        display: flex;
        align-items: center;
        flex-basis: 100%;

        .fa {}

        input {
            flex-basis: 100%;
            margin: 0 1rem;
        }
    }

    .search_menu {
        position: relative;

        .search_menu_toggle {
            .fa {}
        }

        .search_menu {
            position: absolute;
            top: calc(100% + .25rem);
            right: 0;
            display: none;
            background: white;

            .search_menu_items {
                @include menu_no_bullets;
                width: 200px;

                .search_menu_item {
                    a {}
                }
            }

            &.opened {
                display: block;
            }
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 1rem;

    .navigation_items {
        @include menu_no_bullets();
        display: flex;
        align-items: center;

        .navigation_item {
            margin-left: 1rem;

            a {
                .fa {}
            }
        }
    }

    .navigation_user {
        margin-left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            @include full_image;
        }
    }
}

.new_mail_cta {
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: .5rem 2rem;
        border-radius: 999999px;
        display: flex;
        align-items: center;

        .label {
            margin-right: .5rem;
        }

        .icon {}
    }
}

.mailbox {
    .mailbox_section {}
}


.menu_mailbox_main_items {
    @include menu_no_bullets();
    padding: 1.5rem 0;

    .menu_mailbox_main_item {
        display: flex;
        align-items: center;
        padding: .25rem 1rem .25rem 2rem;
        width: 80%;
        margin-bottom: .5rem;
        border-radius: 0 1rem 1rem 0;

        &:last-child {
            margin: 0;
        }

        .icon {
            .fa {}
        }

        .label {
            flex-basis: 100%;
            margin: 0 1rem;
        }

        .amount {
            display: none;
        }

        &.show_number {
            .amount {
                display: block;
            }
        }
        &.active {
            background: pink;
            font-weight: bold;
        }

        @media screen and (max-width: 1080px) {
            background: pink;
            padding: .5rem;
        }
    }
}


.tabs {
    display: flex;

    .tab {
        flex-basis: 100%;
    }
}

.tab_content {}

.message {}

.content {}