


// Layout
.gmail {
    display: grid;
    grid-template-columns: minmax(200px, 250px) minmax(300px, 400px) minmax(500px, 1fr);
    grid-template-rows: auto auto 1fr;
    height: 100vh;

    .brand {}

    .search {}

    .navigation {}

    .new_mail_cta {}

    .mailbox {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .tabs {}

    .tab_content {
        grid-area: 3 / 2 / span 1 / span 1;
    }

    .content {
        grid-area: 2 / 3 / span 2 / span 1;
    }

    @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(3, 1fr);

        .new_mail_cta {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
        }

        .mailbox {
            grid-area: 2 / 1 / span 2 / span 1;
            background-color: white;
            z-index: 2;
            transform: translateX(-100%);
            transition: transform 550ms ease;

            &.opened {
                transform: translateY(0%);
            }
        }

        .tabs {
            grid-area: 2 / 1 / span 1 / span 1;
        }

        .tab_content {
            grid-area: 3 / 1 / span 2 / span 1;
        }

        .content {
            grid-area: 2 / 2 / span 2 / span 2;
        }
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: auto 1fr;
        overflow: hidden;

        .search {
            grid-area: 2 / 1 / span 1 / span 2;
            visibility: hidden;
            opacity: 0;
            background: white;
            z-index: 2;
            transition: opacity 550ms ease, visibility 550ms ease;

            &.opened {
                visibility: visible;
                opacity: 1;
            }
        }

        .navigation {
            grid-area: 1 / 2 / span 1 / span 1;
        }

        .tabs {
            grid-area: 2 / 1 / span 1 / span 2;
        }

        .tab_content {
            grid-area: 3 / 1 / span 1 / span 2;
            overflow: auto;
        }

        .content {
            grid-area: 3 / 1 / span 1 / span 2;
            background-color: white;
            z-index: 2;
            transform: translateY(100%);
            transition: transform 550ms ease;

            &.opened {
                transform: translateY(0%);
            }
        }
    }
}


